.aside {
  height: 100%;
  position: relative;
  float: left;
  width: 100%;

  .el-menu {
    width: auto;
    height: 100%;
    border-right: none;
  }
}
.aside-button {
  position: absolute;
  right: 0px;

  .el-button {
    border-radius: 0;
  }
}
